In [35]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors

import scipy.stats as stats
from scipy.stats import ttest_1samp
from statsmodels.stats import weightstats as stests
from scipy.stats import anderson

import sys
sys.path.append('../src/')
import pawtomators as pw

# from cycler import cycler
# import matplotlib.pyplot as plt
# import re

<h3>Import Alcohol Dataframe</h3>

In [36]:
ac_df = pd.read_csv('../data/modified/2015_states_sorted.csv')
ac_df = ac_df.drop(columns=['Unnamed: 0'])

In [37]:
ac_df = np.round(ac_df, decimals = 2)

# ac_df.info()
# drinks_total_mean = ac_df['number_of_drinks_total'].mean()

### Rename State Names with State Abbr.

In [38]:
# ac_df.head(10)

us_state_abbrev = {
'alabama': 'AL', 'alaska': 'AK', 'arizona': 'AZ', 'arkansas': 'AR', 'california': 'CA', 'colorado': 'CO',
'connecticut': 'CT', 'delaware': 'DE', 'florida': 'FL', 'georgia': 'GA', 'hawaii': 'HI', 'idaho': 'ID',
'illinois': 'IL', 'indiana': 'IN', 'iowa': 'IA', 'kansas': 'KS', 'kentucky': 'KY', 'louisiana': 'LA',
'maine': 'ME', 'maryland': 'MD', 'massachusetts': 'MA', 'michigan': 'MI', 'minnesota': 'MN', 'mississippi': 'MS',
'missouri': 'MO', 'montana': 'MT', 'nebraska': 'NE', 'nevada': 'NV', 'new hampshire': 'NH', 'new Jersey': 'NJ',
'new mexico': 'NM', 'new york': 'NY', 'north carolina': 'NC', 'north dakota': 'ND', 'ohio': 'OH', 'oklahoma': 'OK',
'oregon': 'OR', 'pennsylvania': 'PA', 'phode island': 'RI', 'south carolina': 'SC', 'south dakota': 'SD',
'tennessee': 'TN', 'texas': 'TX', 'utah': 'UT', 'vermont': 'VT', 'virginia': 'VA', 'washington': 'WA',
'west virginia': 'WV', 'wisconsin': 'WI', 'wyoming': 'WY'}

ac_df['state'] = ac_df['state'].map(us_state_abbrev)


ac_df = ac_df.dropna()
ac_df.head(10)

# ac_df.to_csv('../data/modified/2015_alcohol_stats.csv')
# ac_df.sort_values

,state,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
0,AL,2015,1.11,0.26,0.64,2.01,263.11,51.60,132.88,428.80
1,AK,2015,1.11,0.53,1.20,2.84,263.11,105.18,249.15,605.87
2,AZ,2015,1.16,0.40,0.78,2.34,274.96,79.38,161.95,499.20
3,AR,2015,0.97,0.22,0.65,1.83,229.93,43.66,134.96,390.40
4,CA,2015,1.00,0.53,0.75,2.28,237.04,105.18,155.72,486.40
5,CO,2015,1.12,0.51,1.14,2.77,265.48,101.21,236.69,590.93
6,CT,2015,0.85,0.61,0.95,2.41,201.48,121.05,197.24,514.13
7,DE,2015,1.19,0.72,1.75,3.66,282.07,142.88,363.34,780.80
9,FL,2015,1.11,0.51,0.98,2.61,263.11,101.21,203.47,556.80
10,GA,2015,1.01,0.25,0.69,1.95,239.41,49.61,143.26,416.00

<h3>Import Temp DataFrame</h3>

In [39]:
t_df = pd.read_csv('../data/modified/2015_state_temperatures.csv')
t_df = t_df.drop(columns=['CITY','Unnamed: 0'])

# New DataFrame with Annual Temp by State
t_annual = t_df[['ANN','STATE']]

t_cond = t_df[['FEB', 'MAY', 'AUG', 'NOV', 'STATE']]

# Compress Rows / Eliminate Duplicates
t_comp = t_cond.groupby(['STATE']).agg('mean')


t_comp.drop(index = 'KWAJALEIN- MARSHALL',inplace=True)
# t_comp.index

t_comp.describe()

t_ann_comp = t_annual.groupby(['STATE']).agg('mean')
t_ann_comp.drop(index = 'KWAJALEIN- MARSHALL',inplace=True)
t_comp['MAY'] = t_comp['MAY'].fillna(1)

# t_comp['MAY'] = t_comp['MAY'].fillna(t_df.mean(axis =1))
# t_comp = t_comp['MAY'].fillna(method = 'ffill', inplace = True)
# t_compfill
# tc_df = t_compfill.copy()
# t_abb = t_comp.loc[t_df['STATE'].map(len) == 2]
# t_comp = t_df.drop(index=['KWAJALEIN- MARSHALL'])
# # t_df = t_df['MAY'].fillna(method = 'ffill', inplace = True)
# t_df['MAY'] = t_df['MAY'].fillna(t_df.mean(axis =1))
# t_df.describe()
# # t_df.head(10)
# tc_population = tc_df['Annual'].count()*4


# t_cond = t_cond.groupby(['STATE']).agg('mean')
# t_comp.head()

In [40]:
ac_df = ac_df.iloc[:51]
ac_df.describe()

,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
count,48.0,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000
mean,2015.0,1.166458,0.413542,0.888125,2.468333,276.494167,82.067292,184.396042,526.578333
std,0.0,0.226316,0.202553,0.283659,0.555343,53.645632,40.196156,58.894279,118.473403
min,2015.0,0.650000,0.110000,0.470000,1.400000,154.070000,21.830000,97.580000,298.670000
25%,2015.0,1.000000,0.267500,0.725000,2.122500,237.040000,53.085000,150.530000,452.800000
50%,2015.0,1.140000,0.390000,0.790000,2.335000,270.220000,77.400000,164.020000,498.135000
75%,2015.0,1.287500,0.515000,0.972500,2.747500,305.187500,102.202500,201.910000,586.130000
max,2015.0,1.870000,1.140000,1.950000,4.700000,443.260000,226.230000,404.870000,1002.670000

In [41]:
t_comp.describe()

             FEB         MAY         AUG        NOV
count  53.000000   53.000000   53.000000  53.000000
mean   76.053836   65.842662  102.996436  81.680913
std     9.785657   45.192914    5.531936   7.200469
min    50.650000    1.000000   83.600000  53.250000
25%    69.428571    1.000000  100.000000  76.666667
50%    75.500000   94.285714  104.000000  82.250000
75%    83.500000   98.250000  106.000000  86.000000
max    96.000000  104.500000  114.500000  96.000000

In [55]:
# t_ann_comp.reset_index()
# t_ann_comp.describe()
# tc_drop = t_ann_comp.drop(t_ann_comp.tail(5).index,inplace=True)
tc_drop = t_ann_comp.iloc[:49]
tc_drop.describe()

              ANN
count   49.000000
mean   104.938141
std      5.700083
min     87.000000
25%    102.714286
50%    106.000000
75%    108.000000
max    114.500000

### Standard Deviation and Mean of Temp for First two Quarters of the Year 2015

In [43]:
q1_mean = t_comp['FEB'].mean()
q2_mean = t_comp['MAY'].mean()

q1_std = t_comp['FEB'].std()
q2_std = t_comp['MAY'].std()

# total_drink_std = ac_df['number_of_drinks_total'].std()
# annual_temp_std = t_ann_comp['ANN'].std()

### 1) Null Hypothesis: (H0) - "People consume more alcohol in Colder weather than they do in Warmer weather."

### 2) Alternative Hypothesis: (H1) - "People consume more alcohol in Warmer weather than Colder Weather."

### Z Test

In [44]:
# ttest,pval = stats.ttest_ind(t_comp.dropna()['FEB'],t_comp.dropna()['MAY'])
# print(ttest, pval)

z_stat1, z_stat2 = (t_comp['FEB'] - q1_mean) / q1_std , ((t_comp['MAY']) - q2_mean) / q2_std
z_stat1, z_stat2

(STATE
 AK   -2.596028
 AL    0.786474
 AR    0.965307
 AZ    0.863117
 CA    0.796300
 CO   -0.230320
 CT   -0.618644
 DC    0.454355
 DE    0.198879
 FL    1.237815
 GA    0.760926
 HI    1.374069
 IA   -0.720834
 ID   -0.686771
 IL   -0.352949
 IN   -0.056597
 KS    0.893774
 KY    0.249974
 LA    1.016402
 MA   -0.788961
 MD    0.301070
 ME   -1.487262
 MI   -1.180691
 MN   -1.763176
 MO    0.556546
 MS    0.880148
 MT   -0.677038
 NC    0.522482
 ND   -0.925215
 NE    0.184281
 NH   -2.151500
 NJ   -0.056597
 NM    0.607641
 NV   -0.148568
 NY   -0.720834
 OH   -0.312073
 OK    1.527354
 OR   -0.465358
 PA   -0.136889
 PC    1.819327
 PR    2.038306
 RI   -0.414263
 SC    0.675768
 SD   -0.465358
 TN    0.505450
 TX    1.680640
 UT   -0.720834
 VA    0.444136
 VT   -1.436167
 WA   -0.601612
 WI   -1.206238
 WV    0.122236
 WY   -0.542001
 Name: FEB, dtype: float64,
 STATE
 AK    0.280073
 AL    0.717089
 AR    0.711557
 AZ    0.855385
 CA    0.806389
 CO   -1.434797
 CT   -1.434797
 DC   -1.434797
 DE   -1.434797
 FL   -1.434797
 GA   -1.434797
 HI   -1.434797
 IA   -1.434797
 ID   -1.434797
 IL   -1.434797
 IN   -1.434797
 KS   -1.434797
 KY   -1.434797
 LA   -1.434797
 MA   -1.434797
 MD   -1.434797
 ME   -1.434797
 MI    0.585115
 MN    0.698281
 MO    0.634111
 MS    0.726309
 MT    0.664141
 NC    0.670990
 ND    0.761344
 NE    0.777939
 NH    0.346456
 NJ    0.733684
 NM    0.785315
 NV    0.738110
 NY    0.615672
 OH    0.609218
 OK    0.766875
 OR    0.675600
 PA    0.629370
 PC    0.607242
 PR    0.667302
 RI    0.667302
 SC    0.733684
 SD    0.855385
 TN    0.670990
 TX    0.843092
 UT    0.733684
 VA    0.693855
 VT    0.600920
 WA    0.682054
 WI    0.650707
 WV    0.584325
 WY    0.611984
 Name: MAY, dtype: float64)

### Anderson Darling Test

In [45]:
# data = [0.873, 2.817, 0.121, -0.945, -0.055, -1.436, 0.360, -1.478, -1.637, -1.869]
data = t_comp['MAY']
result = anderson(data)
print('stat=%.3f' % (result.statistic))
for i in range(len(result.critical_values)):
    sl, cv = result.significance_level[i], result.critical_values[i]
    if result.statistic < cv:
        print('Probably Gaussian at the %.1f%% level' % (sl))
    else:
        print('Probably not Gaussian at the %.1f%% level' % (sl))

stat=8.793
Probably not Gaussian at the 15.0% level
Probably not Gaussian at the 10.0% level
Probably not Gaussian at the 5.0% level
Probably not Gaussian at the 2.5% level
Probably not Gaussian at the 1.0% level

### Pearson Correlation r

In [46]:
from scipy.stats import pearsonr, ttest_ind

pearsonr(t_comp['FEB'], t_comp['NOV'])

(0.9296260250626022, 9.225984514110036e-24)

In [47]:
data1 = t_comp['FEB']
data2 = t_comp['NOV']
stat, p = stats.pearsonr(data1, data2)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
    print('Probably independent')
else:
    print('Probably dependent','/', 'Positive Correlation')

stat=0.930, p=0.000
Probably dependent / Positive Correlation

In [48]:
list1 = t_comp['AUG'] 
list2 = t_comp['NOV'] 
  
# Apply the pearsonr() 
corr, _ = stats.pearsonr(list1, list2) 
print('Pearsons correlation: %.3f' % corr, ' Positive Correlation')

Pearsons correlation: 0.399  Positive Correlation

### T Test

In [49]:
stat, pvalue = ttest_ind(t_comp['FEB'], t_comp['NOV'])
stat, pvalue

(-3.3718564022230435, 0.0010492753360752576)

### Graphing

In [ ]:
# t_comp, ac_df, tc_drop, t_ann_comp

In [61]:
ac_df_median = np.round(ac_df['number_of_drinks_total'].median())
ac_df_median

498.0

In [62]:
ac_df

,state,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
0,AL,2015,1.11,0.26,0.64,2.01,263.11,51.60,132.88,428.80
1,AK,2015,1.11,0.53,1.20,2.84,263.11,105.18,249.15,605.87
2,AZ,2015,1.16,0.40,0.78,2.34,274.96,79.38,161.95,499.20
3,AR,2015,0.97,0.22,0.65,1.83,229.93,43.66,134.96,390.40
4,CA,2015,1.00,0.53,0.75,2.28,237.04,105.18,155.72,486.40
5,CO,2015,1.12,0.51,1.14,2.77,265.48,101.21,236.69,590.93
6,CT,2015,0.85,0.61,0.95,2.41,201.48,121.05,197.24,514.13
7,DE,2015,1.19,0.72,1.75,3.66,282.07,142.88,363.34,780.80
9,FL,2015,1.11,0.51,0.98,2.61,263.11,101.21,203.47,556.80
10,GA,2015,1.01,0.25,0.69,1.95,239.41,49.61,143.26,416.00
11,HI,2015,1.28,0.56,0.77,2.61,303.41,111.13,159.87,556.80
12,ID,2015,0.94,1.14,0.79,2.87,222.81,226.23,164.02,612.27
13,IL,2015,1.12,0.43,0.80,2.36,265.48,85.33,166.10,503.47
14,IN,2015,0.98,0.28,0.88,2.14,232.30,55.57,182.71,456.53
15,IA,2015,1.31,0.22,0.83,2.36,310.52,43.66,172.33,503.47
16,KS,2015,1.03,0.14,0.74,1.91,244.15,27.78,153.64,407.47
17,KY,2015,0.99,0.22,0.76,1.97,234.67,43.66,157.79,420.27
18,LA,2015,1.27,0.33,0.98,2.59,301.04,65.49,203.47,552.53
19,ME,2015,1.37,0.44,0.97,2.78,324.74,87.32,201.39,593.07
20,MD,2015,0.85,0.39,0.90,2.14,201.48,77.40,186.86,456.53
21,MA,2015,0.96,0.65,0.91,2.52,227.56,128.99,188.94,537.60
22,MI,2015,0.99,0.36,0.89,2.24,234.67,71.44,184.79,477.87
24,MN,2015,1.16,0.43,1.14,2.73,274.96,85.33,236.69,582.40
25,MS,2015,1.31,0.17,0.77,2.24,310.52,33.74,159.87,477.87
26,MO,2015,1.17,0.39,0.97,2.53,277.33,77.40,201.39,539.73
27,MT,2015,1.63,0.50,0.96,3.09,386.37,99.22,199.32,659.20
28,NE,2015,1.34,0.22,0.71,2.27,317.63,43.66,147.41,484.27
29,NV,2015,1.39,0.66,1.30,3.35,329.48,130.98,269.91,714.67
30,NH,2015,1.87,0.88,1.95,4.70,443.26,174.64,404.87,1002.67
32,NM,2015,1.02,0.30,0.78,2.10,241.78,59.53,161.95,448.00
33,NY,2015,0.91,0.50,0.77,2.19,215.70,99.22,159.87,467.20
34,NC,2015,1.05,0.42,0.63,2.10,248.89,83.35,130.80,448.00
35,ND,2015,1.58,0.35,1.33,3.26,374.52,69.46,276.14,695.47
37,OH,2015,1.17,0.30,0.56,2.03,277.33,59.53,116.27,433.07
38,OK,2015,1.07,0.19,0.62,1.89,253.63,37.71,128.73,403.20
39,OR,2015,1.23,0.58,0.90,2.71,291.56,115.10,186.86,578.13
40,PA,2015,1.31,0.32,0.70,2.33,310.52,63.50,145.34,497.07
42,SC,2015,1.21,0.25,0.79,2.25,286.81,49.61,164.02,480.00
43,SD,2015,1.49,0.29,1.03,2.81,353.19,57.55,213.85,599.47
45,TN,2015,1.04,0.27,0.76,2.06,246.52,53.58,157.79,439.47
46,TX,2015,1.28,0.33,0.67,2.28,303.41,65.49,139.11,486.40
48,UT,2015,0.65,0.20,0.54,1.40,154.07,39.69,112.12,298.67
49,VT,2015,1.57,0.78,0.73,3.08,372.15,154.79,151.57,657.07
50,VA,2015,1.00,0.48,0.65,2.13,237.04,95.26,134.96,454.40
51,WA,2015,0.97,0.53,0.77,2.26,229.93,105.18,159.87,482.13
53,WV,2015,1.21,0.11,0.47,1.78,286.81,21.83,97.58,379.73
54,WI,2015,1.39,0.39,1.20,2.98,329.48,77.40,249.15,635.73
55,WY,2015,1.25,0.31,1.18,2.74,296.30,61.52,245.00,584.53