In [1]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
from cycler import cycler
import matplotlib.pyplot as plt

In [2]:
pc_db = pd.read_csv('../data/apparent_per_capita_alcohol_consumption_1977_2018.csv', delimiter=None)

In [3]:
pc_db.head(10)

,state,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
0,alabama,2018,1.04,0.26,0.69,1.99,246.518519,51.596899,143.260341,424.533333
1,alabama,2017,1.07,0.26,0.67,1.99,253.629630,51.596899,139.107867,424.533333
2,alabama,2016,1.09,0.26,0.65,2.01,258.370370,51.596899,134.955393,428.800000
3,alabama,2015,1.11,0.26,0.64,2.01,263.111111,51.596899,132.879157,428.800000
4,alabama,2014,1.13,0.25,0.62,2.00,267.851852,49.612403,128.726683,426.666667
5,alabama,2013,1.14,0.25,0.60,1.99,270.222222,49.612403,124.574209,424.533333
6,alabama,2012,1.16,0.24,0.60,2.00,274.962963,47.627907,124.574209,426.666667
7,alabama,2011,1.16,0.24,0.59,1.98,274.962963,47.627907,122.497972,422.400000
8,alabama,2010,1.17,0.23,0.58,1.98,277.333333,45.643411,120.421736,422.400000
9,alabama,2009,1.19,0.22,0.57,1.98,282.074074,43.658915,118.345499,422.400000

In [4]:
pc_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2352 entries, 0 to 2351
Data columns (total 10 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   state                                  2352 non-null   object
 1   year                                   2352 non-null   int64
 2   ethanol_beer_gallons_per_capita        2352 non-null   float64
 3   ethanol_wine_gallons_per_capita        2352 non-null   float64
 4   ethanol_spirit_gallons_per_capita      2352 non-null   float64
 5   ethanol_all_drinks_gallons_per_capita  2352 non-null   float64
 6   number_of_beers                        2352 non-null   float64
 7   number_of_glasses_wine                 2352 non-null   float64
 8   number_of_shots_liquor                 2352 non-null   float64
 9   number_of_drinks_total                 2352 non-null   float64
dtypes: float64(8), int64(1), object(1)
memory usage: 183.9+ KB

In [27]:
per_capita = pc_db.describe()
# per_capita.to_csv('../data/modified/2015_per_capita.csv')

In [6]:
for cols in sorted(pc_db):
    print(cols)

ethanol_all_drinks_gallons_per_capita
ethanol_beer_gallons_per_capita
ethanol_spirit_gallons_per_capita
ethanol_wine_gallons_per_capita
number_of_beers
number_of_drinks_total
number_of_glasses_wine
number_of_shots_liquor
state
year

In [7]:
pc_db.columns

Index(['state', 'year', 'ethanol_beer_gallons_per_capita',
       'ethanol_wine_gallons_per_capita', 'ethanol_spirit_gallons_per_capita',
       'ethanol_all_drinks_gallons_per_capita', 'number_of_beers',
       'number_of_glasses_wine', 'number_of_shots_liquor',
       'number_of_drinks_total'],
      dtype='object')

In [8]:
df = pc_db[pc_db.loc[:, 'year']== 2015]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 3 to 2313
Data columns (total 10 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   state                                  56 non-null     object
 1   year                                   56 non-null     int64
 2   ethanol_beer_gallons_per_capita        56 non-null     float64
 3   ethanol_wine_gallons_per_capita        56 non-null     float64
 4   ethanol_spirit_gallons_per_capita      56 non-null     float64
 5   ethanol_all_drinks_gallons_per_capita  56 non-null     float64
 6   number_of_beers                        56 non-null     float64
 7   number_of_glasses_wine                 56 non-null     float64
 8   number_of_shots_liquor                 56 non-null     float64
 9   number_of_drinks_total                 56 non-null     float64
dtypes: float64(8), int64(1), object(1)
memory usage: 4.8+ KB

In [10]:
sdf = df.sort_values('number_of_drinks_total', ascending = False)

In [11]:
sdf.head(10)

,state,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
1221,new hampshire,2015,1.87,0.88,1.95,4.70,443.259259,174.635659,404.866180,1002.666667
339,district of columbia,2015,1.14,1.02,1.67,3.82,270.222222,202.418605,346.731549,814.933333
297,delaware,2015,1.19,0.72,1.75,3.66,282.074074,142.883721,363.341444,780.800000
1179,nevada,2015,1.39,0.66,1.30,3.35,329.481481,130.976744,269.910787,714.666667
1431,north dakota,2015,1.58,0.35,1.33,3.26,374.518519,69.457364,276.139497,695.466667
1095,montana,2015,1.63,0.50,0.96,3.09,386.370370,99.224806,199.318735,659.200000
1893,vermont,2015,1.57,0.78,0.73,3.08,372.148148,154.790698,151.565288,657.066667
2061,wisconsin,2015,1.39,0.39,1.20,2.98,329.481481,77.395349,249.148418,635.733333
507,idaho,2015,0.94,1.14,0.79,2.87,222.814815,226.232558,164.022709,612.266667
45,alaska,2015,1.11,0.53,1.20,2.84,263.111111,105.178295,249.148418,605.866667

In [23]:
state_df = df.sort_values('state', ascending = True)

In [24]:
state_df

,state,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
3,alabama,2015,1.11,0.26,0.64,2.01,263.111111,51.596899,132.879157,428.800000
45,alaska,2015,1.11,0.53,1.20,2.84,263.111111,105.178295,249.148418,605.866667
87,arizona,2015,1.16,0.40,0.78,2.34,274.962963,79.379845,161.946472,499.200000
129,arkansas,2015,0.97,0.22,0.65,1.83,229.925926,43.658915,134.955393,390.400000
171,california,2015,1.00,0.53,0.75,2.28,237.037037,105.178295,155.717762,486.400000
213,colorado,2015,1.12,0.51,1.14,2.77,265.481481,101.209302,236.690998,590.933333
255,connecticut,2015,0.85,0.61,0.95,2.41,201.481481,121.054264,197.242498,514.133333
297,delaware,2015,1.19,0.72,1.75,3.66,282.074074,142.883721,363.341444,780.800000
339,district of columbia,2015,1.14,1.02,1.67,3.82,270.222222,202.418605,346.731549,814.933333
381,florida,2015,1.11,0.51,0.98,2.61,263.111111,101.209302,203.471208,556.800000
423,georgia,2015,1.01,0.25,0.69,1.95,239.407407,49.612403,143.260341,416.000000
465,hawaii,2015,1.28,0.56,0.77,2.61,303.407407,111.131783,159.870235,556.800000
507,idaho,2015,0.94,1.14,0.79,2.87,222.814815,226.232558,164.022709,612.266667
549,illinois,2015,1.12,0.43,0.80,2.36,265.481481,85.333333,166.098946,503.466667
591,indiana,2015,0.98,0.28,0.88,2.14,232.296296,55.565891,182.708840,456.533333
633,iowa,2015,1.31,0.22,0.83,2.36,310.518519,43.658915,172.327656,503.466667
675,kansas,2015,1.03,0.14,0.74,1.91,244.148148,27.782946,153.641525,407.466667
717,kentucky,2015,0.99,0.22,0.76,1.97,234.666667,43.658915,157.793998,420.266667
759,louisiana,2015,1.27,0.33,0.98,2.59,301.037037,65.488372,203.471208,552.533333
801,maine,2015,1.37,0.44,0.97,2.78,324.740741,87.317829,201.394972,593.066667
843,maryland,2015,0.85,0.39,0.90,2.14,201.481481,77.395349,186.861314,456.533333
885,massachusetts,2015,0.96,0.65,0.91,2.52,227.555556,128.992248,188.937551,537.600000
927,michigan,2015,0.99,0.36,0.89,2.24,234.666667,71.441860,184.785077,477.866667
2187,midwest region,2015,1.15,0.35,0.86,2.36,272.592593,69.457364,178.556367,503.466667
969,minnesota,2015,1.16,0.43,1.14,2.73,274.962963,85.333333,236.690998,582.400000
1011,mississippi,2015,1.31,0.17,0.77,2.24,310.518519,33.736434,159.870235,477.866667
1053,missouri,2015,1.17,0.39,0.97,2.53,277.333333,77.395349,201.394972,539.733333
1095,montana,2015,1.63,0.50,0.96,3.09,386.370370,99.224806,199.318735,659.200000
1137,nebraska,2015,1.34,0.22,0.71,2.27,317.629630,43.658915,147.412814,484.266667
1179,nevada,2015,1.39,0.66,1.30,3.35,329.481481,130.976744,269.910787,714.666667
1221,new hampshire,2015,1.87,0.88,1.95,4.70,443.259259,174.635659,404.866180,1002.666667
1263,new jersey,2015,0.84,0.60,0.93,2.37,199.111111,119.069767,193.090024,505.600000
1305,new mexico,2015,1.02,0.30,0.78,2.10,241.777778,59.534884,161.946472,448.000000
1347,new york,2015,0.91,0.50,0.77,2.19,215.703704,99.224806,159.870235,467.200000
1389,north carolina,2015,1.05,0.42,0.63,2.10,248.888889,83.348837,130.802920,448.000000
1431,north dakota,2015,1.58,0.35,1.33,3.26,374.518519,69.457364,276.139497,695.466667
2145,northeast region,2015,1.04,0.51,0.85,2.40,246.518519,101.209302,176.480130,512.000000
1473,ohio,2015,1.17,0.30,0.56,2.03,277.333333,59.534884,116.269262,433.066667
1515,oklahoma,2015,1.07,0.19,0.62,1.89,253.629630,37.705426,128.726683,403.200000
1557,oregon,2015,1.23,0.58,0.90,2.71,291.555556,115.100775,186.861314,578.133333
1599,pennsylvania,2015,1.31,0.32,0.70,2.33,310.518519,63.503876,145.336577,497.066667
1641,rhode island,2015,0.96,0.57,0.99,2.52,227.555556,113.116279,205.547445,537.600000
1683,south carolina,2015,1.21,0.25,0.79,2.25,286.814815,49.612403,164.022709,480.000000
1725,south dakota,2015,1.49,0.29,1.03,2.81,353.185185,57.550388,213.852393,599.466667
2229,south region,2015,1.12,0.36,0.77,2.24,265.481481,71.441860,159.870235,477.866667
1767,tennessee,2015,1.04,0.27,0.76,2.06,246.518519,53.581395,157.793998,439.466667
1809,texas,2015,1.28,0.33,0.67,2.28,303.407407,65.488372,139.107867,486.400000
2313,us total,2015,1.09,0.42,0.81,2.33,258.370370,83.348837,168.175182,497.066667
1851,utah,2015,0.65,0.20,0.54,1.40,154.074074,39.689922,112.116788,298.666667
1893,vermont,2015,1.57,0.78,0.73,3.08,372.148148,154.790698,151.565288,657.066667
1935,virginia,2015,1.00,0.48,0.65,2.13,237.037037,95.255814,134.955393,454.400000
1977,washington,2015,0.97,0.53,0.77,2.26,229.925926,105.178295,159.870235,482.133333
2271,west region,2015,1.05,0.52,0.82,2.38,248.888889,103.193798,170.251419,507.733333
2019,west virginia,2015,1.21,0.11,0.47,1.78,286.814815,21.829457,97.583131,379.733333
2061,wisconsin,2015,1.39,0.39,1.20,2.98,329.481481,77.395349,249.148418,635.733333
2103,wyoming,2015,1.25,0.31,1.18,2.74,296.296296,61.519380,244.995945,584.533333

In [26]:
state_df.to_csv('../data/modified/2015_states_sorted.csv')

In [22]:
sdf2 = df.sort_values(['number_of_drinks_total', 'ethanol_all_drinks_gallons_per_capita'], ascending = [0,0])

In [13]:
sdf2.to_csv('../data/modified/2015_per_capita.csv')

In [14]:
sdf2.head(10)

,state,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
1221,new hampshire,2015,1.87,0.88,1.95,4.70,443.259259,174.635659,404.866180,1002.666667
339,district of columbia,2015,1.14,1.02,1.67,3.82,270.222222,202.418605,346.731549,814.933333
297,delaware,2015,1.19,0.72,1.75,3.66,282.074074,142.883721,363.341444,780.800000
1179,nevada,2015,1.39,0.66,1.30,3.35,329.481481,130.976744,269.910787,714.666667
1431,north dakota,2015,1.58,0.35,1.33,3.26,374.518519,69.457364,276.139497,695.466667
1095,montana,2015,1.63,0.50,0.96,3.09,386.370370,99.224806,199.318735,659.200000
1893,vermont,2015,1.57,0.78,0.73,3.08,372.148148,154.790698,151.565288,657.066667
2061,wisconsin,2015,1.39,0.39,1.20,2.98,329.481481,77.395349,249.148418,635.733333
507,idaho,2015,0.94,1.14,0.79,2.87,222.814815,226.232558,164.022709,612.266667
45,alaska,2015,1.11,0.53,1.20,2.84,263.111111,105.178295,249.148418,605.866667

In [15]:
total_drinks_per_state = sdf2[['state', 'number_of_drinks_total']]

In [16]:
total_drinks_per_state

                     state  number_of_drinks_total
1221         new hampshire             1002.666667
339   district of columbia              814.933333
297               delaware              780.800000
1179                nevada              714.666667
1431          north dakota              695.466667
1095               montana              659.200000
1893               vermont              657.066667
2061             wisconsin              635.733333
507                  idaho              612.266667
45                  alaska              605.866667
1725          south dakota              599.466667
801                  maine              593.066667
213               colorado              590.933333
2103               wyoming              584.533333
969              minnesota              582.400000
1557                oregon              578.133333
381                florida              556.800000
465                 hawaii              556.800000
759              louisiana              552.533333
1053              missouri              539.733333
885          massachusetts              537.600000
1641          rhode island              537.600000
255            connecticut              514.133333
2145      northeast region              512.000000
2271           west region              507.733333
1263            new jersey              505.600000
549               illinois              503.466667
633                   iowa              503.466667
2187        midwest region              503.466667
87                 arizona              499.200000
1599          pennsylvania              497.066667
2313              us total              497.066667
171             california              486.400000
1809                 texas              486.400000
1137              nebraska              484.266667
1977            washington              482.133333
1683        south carolina              480.000000
927               michigan              477.866667
1011           mississippi              477.866667
2229          south region              477.866667
1347              new york              467.200000
591                indiana              456.533333
843               maryland              456.533333
1935              virginia              454.400000
1305            new mexico              448.000000
1389        north carolina              448.000000
1767             tennessee              439.466667
1473                  ohio              433.066667
3                  alabama              428.800000
717               kentucky              420.266667
423                georgia              416.000000
675                 kansas              407.466667
1515              oklahoma              403.200000
129               arkansas              390.400000
2019         west virginia              379.733333
1851                  utah              298.666667

In [17]:
state_total_drinks = sdf2[['state', 'number_of_drinks_total']]

In [18]:
state_total_drinks = state_total_drinks.sort_values('state', ascending = True)

In [19]:
state_total_drinks

                     state  number_of_drinks_total
3                  alabama              428.800000
45                  alaska              605.866667
87                 arizona              499.200000
129               arkansas              390.400000
171             california              486.400000
213               colorado              590.933333
255            connecticut              514.133333
297               delaware              780.800000
339   district of columbia              814.933333
381                florida              556.800000
423                georgia              416.000000
465                 hawaii              556.800000
507                  idaho              612.266667
549               illinois              503.466667
591                indiana              456.533333
633                   iowa              503.466667
675                 kansas              407.466667
717               kentucky              420.266667
759              louisiana              552.533333
801                  maine              593.066667
843               maryland              456.533333
885          massachusetts              537.600000
927               michigan              477.866667
2187        midwest region              503.466667
969              minnesota              582.400000
1011           mississippi              477.866667
1053              missouri              539.733333
1095               montana              659.200000
1137              nebraska              484.266667
1179                nevada              714.666667
1221         new hampshire             1002.666667
1263            new jersey              505.600000
1305            new mexico              448.000000
1347              new york              467.200000
1389        north carolina              448.000000
1431          north dakota              695.466667
2145      northeast region              512.000000
1473                  ohio              433.066667
1515              oklahoma              403.200000
1557                oregon              578.133333
1599          pennsylvania              497.066667
1641          rhode island              537.600000
1683        south carolina              480.000000
1725          south dakota              599.466667
2229          south region              477.866667
1767             tennessee              439.466667
1809                 texas              486.400000
2313              us total              497.066667
1851                  utah              298.666667
1893               vermont              657.066667
1935              virginia              454.400000
1977            washington              482.133333
2271           west region              507.733333
2019         west virginia              379.733333
2061             wisconsin              635.733333
2103               wyoming              584.533333