In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
from cycler import cycler
import matplotlib.pyplot as plt

In [2]:
temp_df = pd.read_excel('data/Highest temperature on record through 2015 by US City.xlsx')

In [3]:
temp_df

,CITY,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANN
0,"BIRMINGHAM,AL",81,83,89,92,99.0,106,107,105,102,94,85,80,107
1,"HUNTSVILLE,AL",77,83,88,92,96.0,106,105,105,101,91,84,79,106
2,"MOBILE,AL",84,84,89,94,100.0,103,104,105,99,93,87,81,105
3,"MONTGOMERY,AL",83,85,89,94,98.0,105,105,106,101,100,88,85,106
4,"ANCHORAGE,AK",50,49,51,69,77.0,85,84,82,73,64,54,48,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,"PAGO PAGO- AMER SAMOA,PC",95,96,95,95,93.0,95,91,92,92,94,95,94,96
259,"POHNPEI- CAROLINE IS.,PC",94,96,94,94,94.0,94,95,97,96,95,98,95,98
260,"CHUUK- E. CAROLINE IS.,PC",94,95,96,94,93.0,93,92,96,93,92,91,93,96
261,"YAP- W CAROLINE IS.,PC",94,96,93,96,96.0,97,94,95,96,96,94,94,97
262,"SAN JUAN,PR",92,96,96,97,96.0,97,95,97,97,98,96,94,98

In [13]:
temp_df['STATE'] = temp_df['CITY'].apply(lambda x: x.split(',')[-1])

In [15]:
temp_df

,CITY,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANN,STATE
0,"BIRMINGHAM,AL",81,83,89,92,99.0,106,107,105,102,94,85,80,107,AL
1,"HUNTSVILLE,AL",77,83,88,92,96.0,106,105,105,101,91,84,79,106,AL
2,"MOBILE,AL",84,84,89,94,100.0,103,104,105,99,93,87,81,105,AL
3,"MONTGOMERY,AL",83,85,89,94,98.0,105,105,106,101,100,88,85,106,AL
4,"ANCHORAGE,AK",50,49,51,69,77.0,85,84,82,73,64,54,48,85,AK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,"PAGO PAGO- AMER SAMOA,PC",95,96,95,95,93.0,95,91,92,92,94,95,94,96,PC
259,"POHNPEI- CAROLINE IS.,PC",94,96,94,94,94.0,94,95,97,96,95,98,95,98,PC
260,"CHUUK- E. CAROLINE IS.,PC",94,95,96,94,93.0,93,92,96,93,92,91,93,96,PC
261,"YAP- W CAROLINE IS.,PC",94,96,93,96,96.0,97,94,95,96,96,94,94,97,PC
262,"SAN JUAN,PR",92,96,96,97,96.0,97,95,97,97,98,96,94,98,PR

In [31]:
ann_mean = temp_df.groupby('STATE')['ANN'].agg('mean')
print(ann_mean)

STATE
AK                      87.550000
AL                     106.000000
AR                     114.500000
AZ                     111.750000
CA                     110.153846
CO                     103.200000
CT                     103.000000
DC                     105.000000
DE                     103.000000
FL                     101.666667
GA                     107.000000
HI                      94.250000
IA                     105.500000
ID                     110.000000
IL                     106.000000
IN                     106.750000
KS                     112.600000
KWAJALEIN- MARSHALL     97.000000
KY                     106.500000
LA                     105.750000
MA                     101.000000
MD                     106.000000
ME                      99.500000
MI                     102.250000
MN                     103.200000
MO                     112.000000
MS                     107.000000
MT                     107.142857
NC                     102.166667
ND                     108.000000
NE                     111.142857
NH                      87.000000
NJ                     107.000000
NM                     108.666667
NV                     108.400000
NY                     100.333333
OH                     102.875000
OK                     113.000000
OR                     106.375000
PA                     102.714286
PC                      96.142857
PR                      98.000000
RI                     104.000000
SC                     106.666667
SD                     112.000000
TN                     106.166667
TX                     111.055556
UT                     107.000000
VA                     104.000000
VT                     101.000000
WA                     106.333333
WI                     104.750000
WV                     100.750000
WY                     103.000000
Name: ANN, dtype: float64

In [32]:
# dir(pd.Series)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_convert_dtypes',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_find_valid_index',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iget_item_cache',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_datelike_mixed_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_ndarray_values',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'between',
 'between_time',
 'bfill',
 'bool',
 'cat',
 'clip',
 'combine',
 'combine_first',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dt',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sparse',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'tolist',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']